<strong>This page is generated automatically, any manual changes will be overwritten when the next build completes.</strong>

{{#if testData}}
  <h2>Smoke Test Results</h2>
  <hr/>
  <ac:structured-macro ac:name="section">
    <ac:rich-text-body>
      <ac:structured-macro ac:name="column">
        <ac:parameter ac:name="width">50%</ac:parameter>
        <ac:rich-text-body>
          <ac:structured-macro ac:name="chart">
            <ac:parameter ac:name="orientation">vertical</ac:parameter>
            <ac:parameter ac:name="dataOrientation">vertical</ac:parameter>
            <ac:parameter ac:name="3D">true</ac:parameter>
            <ac:rich-text-body>
              <table>
                <tbody>
                  <tr>
                    <td>Tests</td>
                    <td>Results</td>
                  </tr>
                  <tr>
                    <td>Passing</td>
                    <td>{{ testData.passed }}</td>
                  </tr>
                  <tr>
                    <td>Failing</td>
                    <td>{{ testData.failed }}</td>
                  </tr>
                </tbody>
              </table>
            </ac:rich-text-body>
          </ac:structured-macro>
        </ac:rich-text-body>
      </ac:structured-macro>
      <ac:structured-macro ac:name="column">
        <ac:parameter ac:name="width">50%</ac:parameter>
        <ac:rich-text-body>
          <table width="100%">
            <tbody>
              <tr>
                <th>Tests</th>
                <th>Results</th>
              </tr>
              <tr>
                <td>Passing</td>
                <td>{{ testData.passed }}</td>
              </tr>
              <tr>
                <td>Failing</td>
                <td>{{ testData.failed }}</td>
              </tr>
            </tbody>
          </table>
        </ac:rich-text-body>
      </ac:structured-macro>
    </ac:rich-text-body>
  </ac:structured-macro>
{{/if}}

<h2>Pending Changes</h2>
<hr/>

<h3>Tickets on Dev Branch</h3>

<p>The tickets below have commits on dev that are not on master.</p>

<ac:structured-macro ac:name="jira">
  <ac:parameter ac:name="columns">key,summary,assignee,status</ac:parameter>
  <ac:parameter ac:name="jqlQuery">{{ jql }}</ac:parameter>
  <ac:parameter ac:name="maximumIssues">1000</ac:parameter>
</ac:structured-macro>

<h3>Commits without ticket numbers</h3>

<p>The commits below could not be tied to a JIRA ticket but will be deployed with the next release.</p>

<table>
  <tr>
    <th>Commit</th>
    <th>Author</th>
    <th>Message</th>
  </tr>
  {{#each commits}}
    <tr>
      <td><a href="{{ this.link }}">{{ this.sha }}</a></td>
      <td>{{ this.author }}</td>
      <td>{{ this.message }}</td>
    </tr>
  {{/each}}
</table>
